.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1100px;
}

/* @media (max-width: 600px) {
} */
.homeSectionContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.homeSectionContainerRight {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
}
.smallCardContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.firstSection {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.normalText {
  font-size: 24px;
  font-weight: 400px;
  color: rgba(0, 0, 0, 0.5);
}

.subTitleHome {
  font-weight: 600;
  font-size: 36px;
  margin-top: 10rem;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 800px;
}
.homeSectionBody {
  margin: 50px;
  max-width: 460px;
}

@media screen and (max-width: 945px) {
  .homeSectionContainerRight {
    flex-direction: column-reverse;
  }
  .homeSectionBody {
    margin: 0px;
  }
}
