.postContainer {
}

.post * {
  cursor: pointer;
}

.postContainerTitle {
  margin-bottom: 20px;
  padding-top: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.postContainerTitle h2 {
  font-weight: 600;
  font-size: 26px;
}
.post {
  display: flex;
  align-items: center;
  height: 156px;
  margin: auto;
  margin-bottom: 20px;
  max-width: 800px;
  width: 90%;
}
.postResponsiveTitle {
  display: none;
}

.postImage {
  background-color: #c4c4c4;
  width: 217px;
  height: 100%;
  border-radius: 4px;
}
.postBody {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 20px;
  height: 100%;
  width: 80%;
}
.postTitle,
.postResponsiveTitle {
  font-size: 22px;
  font-weight: 600;
}
.postSubtitle {
  font-size: 22px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}

.postFooter {
  font-size: 18px;
}

.postAuthor {
  font-weight: 700;
}

.postDate {
  font-weight: "bold";
  color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1050px) {
  .postImage {
    width: 150px;
    height: 150px;
  }

  .postTitle {
    font-size: 18px;
  }
  .postSubtitle {
    font-size: 18px;
  }

  .postFooter {
    font-size: 16px;
  }
}
@media screen and (max-width: 850px) {
  .post {
    height: 120px;
  }
  .postImage {
    width: 120px;
    height: 120px;
  }
  .postTitle {
    font-size: 16px;
  }
  .postSubtitle {
    font-size: 16px;
  }
  .postFooter {
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  .post {
    height: 80px;
  }
  .postFooter {
    font-size: 12px;
  }
  .postSubtitle {
    display: none;
  }
  .postImage {
    width: 80px;
    height: 80px;
  }
  .postResponsiveTitle {
    display: block;
    font-size: 14px;
  }
  .postTitle {
    display: none;
  }
}
